section#contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

.fa-3x {
    color: #222;
    font-size: 4em;
}

#cicons {
    margin-top: 50px;
}

#contact div div div a p {
    font-size: 1.25em;
    color: #57ad68;
}

#contact div div div a {
    color: #57ad68;
}

h2.contact {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

hr.contact {
    border-color: #57ad68;
}

#content ul {
    font-size: 1.1em;
}

.footnote {
    font-size: 1em;
    color: #cecece;
}

.copyright {
    color: #ccc;
    margin-top: 20px;
    font-size: 1.0em;
    line-height: 1.0em;
}

